@tailwind base;
@tailwind components;
@tailwind utilities;

/* react-datepicker styles */
@import "react-datepicker/dist/react-datepicker.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  @apply box-border;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.003em;
  max-width: 640px;
}

button {
  @apply cursor-pointer border-none bg-transparent;
  font: inherit;
  select: none;
}

input,
textarea,
select {
  @apply outline-none;
  font: inherit;
  background: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (hover: none) {
  button[data-pressed='true'] {
    transform: scale(0.95);
  }
}
